<ion-list class="doc_download_wrapper">
    <ion-item>

        <ion-item-content>
            <div class="ion-items">
                <div class="list col">
                    <!-- pick a panel block start here -->
                    <label class="input-label"> Type</label>
                    <select>
                        <option value="0" selected>type1</option>
                        <option value="2">type2</option>
                    </select>
                    <!-- pick a panel block end here -->
                </div>
                <div class="list">
                    <label>Document No</label>
                    <input type="text" palaceholder="Document"> </div>
                <div class="buttons">
                    <div class="button-bar row"> <a class="button red_btn">Get Data</a></div>
                </div>
            </div>
        </ion-item-content>

        <ion-item-content>
            <div class="ion-items">
                <h3>Invoice Review</h3>
                <div class="list col">
                    <label>Consignment date </label>:
                    <p><span>2015-12-08</span></p>
                </div>
                <div class="list col">
                    <label>Consignment date </label>:
                    <p><span>2015-12-08</span></p>
                </div>
                <div class="list col">
                    <label>Consignment date </label>:
                    <p><span>2015-12-08</span></p>
                </div>
                <div class="list col">
                    <label>Consignment date </label>:
                    <p><span>2015-12-08</span></p>
                </div>
                <div class="list col">
                    <label>Consignment date </label>:
                    <p><span>2015-12-08</span></p>
                </div>
                <div class="list col">
                    <label>Consignment date </label>:
                    <p><span>2015-12-08</span></p>
                </div>
                <div class="list col">
                    <label>Consignment date </label>:
                    <p><span>2015-12-08</span></p>
                </div>
                <div class="list col">
                    <label>Consignment date </label>:
                    <p><span>2015-12-08</span></p>
                </div>
                <div class="list col">
                    <label>Consignment date </label>:
                    <p><span>2015-12-08</span></p>
                </div>
            </div>
        </ion-item-content>

        <ion-item-content class="uploads_img_block">
            <documents-uploader></documents-uploader>
        </ion-item-content>



    </ion-item>
</ion-list>
