<ion-view class="approver_app">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Approver Panel</h1> </div>
    <ion-tabs class="tabs-icon-top tabs-top">
        <!-- Documents tab start here -->
        <ion-tab title="Documents" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline">
            <ion-side-menus class="color">
                <div class="left_sidebar">
                    <div class="list col">
                        <!-- pick a panel block start here -->
                        <label class="item item-input item-select pick_panal">
                            <div class="input-label"> Pick a Panel </div>
                            <select ng-model="selectedDocstatusFilter" ng-change="hc.reloadRequestList()">
                                <option value="0" selected>Pending</option>
                                <option value="2">Rejected</option>
                                <option value="1">Approved</option>
                            </select>
                        </label>
                        <!-- pick a panel block end here -->
                        <!-- search panel start here -->
                        <div class="list search_bar">
                            <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" placeholder="Search"> </label>
                        </div>
                        <!-- search panel endf here -->
                    </div>
                    <ion-side-menu side="left" expose-aside-when="large" style="top:100px">
                        <ion-content>
                            <div class="list card">
                                <li ng-click="hc.selectRequest(request);hc.getMetedata(request.cno,request.doctype);" class="item" ng-repeat="request in hc.requests track by request.qid">
                                    <div class="item item-avatar"> <img src="/img/ionic.png" title="{{request.uploadedBy || 'Admin'}}">
                                        <p>{{request.createdAt | date:'short' }}</p>
                                        <p>{{request.doctype}}</p>
                                        <p ng-if="request.status == 0">Pending</p>
                                        <p ng-if="request.status == 1">Approved</p>
                                        <p ng-if="request.status == 2">Rejected</p>
                                    </div>
                                    <div class="item item-body">
                                        <h3>{{request.cno}}</h3>
                                        <h3>{{request.data.doctype}}</h3>
                                        <p>{{request.data.customer}}</p>
                                    </div>
                                </li>
                            </div>
                        </ion-content>
                    </ion-side-menu>
                </div>
                <div class="right_sidebar">
                    <ion-side-menu-content>
                        <div class="row">
                            <div class="content_detail">
                                <ion-nav-view name="form_view">
                                    <div class="buttons">
                                        <div class="button-bar row" ng-show="hc.selectedRequest"> <a class="button red_btn" ng-click="hc.changeDocstatus(hc.selectedRequest, 1);">Accept</a> <a class="button black_btn" ng-click="hc.changeDocstatus(hc.selectedRequest, 2)">Reject</a> </div>
                                    </div>
                                </ion-nav-view>
                            </div>
                            <div class="display_block">
                                <div class="row">
                                    <div class="d_block_img">
                                        <ng-pintura ngp-src="hc.selectedImg.src" ngp-scaling="hc.selectedImg.scaling" ngp-position="hc.selectedImg.position" ngp-max-scaling="hc.selectedImg.maxScaling" ngp-scale-step="hc.selectedImg.scaleStep" ngp-move-step="hc.selectedImg.moveStep" ngp-mw-scale-step="hc.selectedImg.mwScaleStep" ngp-fit-onload="hc.selectedImg.fitOnload" ngp-progress="hc.selectedImg.progress">
                                            <div id="zoomslider">
                                                <input ng-model="slider.value" ng-change="sliderChange()" orient="vertical" type="range" min="0" max="100" step="1" ng-disabled="scalingDisabled" /> </div>
                                            <button id="zoomin" ng-click="zoomIn()" ng-disabled="scalingDisabled" class="btn btn-default"><span class="ion-ios-plus-empty"></span></button>
                                            <button id="zoomout" ng-click="zoomOut()" ng-disabled="scalingDisabled" class="btn btn-default"><span class="ion-ios-minus-empty"></span></button>
                                            <button id="moveup" ng-click="moveUp()" class="btn btn-default"><span class="ion-ios-arrow-up"></span></button>
                                            <button id="movedown" ng-click="moveDown()" class="btn btn-default"><span class="ion-ios-arrow-down"></span></button>
                                            <button id="moveleft" ng-click="moveLeft()" class="btn btn-default"><span class="ion-ios-arrow-left"></span></button>
                                            <button id="moveright" ng-click="moveRight()" class="btn btn-default"><span class="ion-ios-arrow-right"></span></button>
                                            <button id="movecenter" ng-click="fitInView()" class="btn btn-default"><span class="ion-qr-scanner"></span></button>
                                        </ng-pintura>
                                    </div>
                                    <div class="d_thumb_img">
                                        <ion-scroll direction="y"> <img ng-repeat="image in hc.selectedRequest.files" ng-src="http://192.168.31.195:1337/files/download/{{image.id}}/" ng-click="hc.showImage($index)" class="image-list-thumb" style="max-width: 100%" /> </ion-scroll>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-side-menu-content>
                </div>
            </ion-side-menus> -->
        </ion-tab> -->
        <!-- Documents tab end here -->
        <!-- Cheque tab start here -->
        <ion-tab title="Cheque" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
            <ion-content>
                <div class="left_sidebar">
                    <div class="list">
                        <div class="item">Item 1</div>
                        <div class="item">Item 2</div>
                        <div class="item">Item 3</div>
                    </div>
                </div>
                <div class="right_sidebar">
                    <ion-side-menu-content>
                        <div class="row">
                            <div class="content_detail">
                                <ion-nav-view name="form_view">
                                    <div class="buttons">
                                        <div class="button-bar row" ng-show="hc.selectedRequest"> <a class="button red_btn" ng-click="hc.changeDocstatus(hc.selectedRequest, 1);">Accept</a> <a class="button black_btn" ng-click="hc.changeDocstatus(hc.selectedRequest, 2)">Reject</a> </div>
                                    </div>
                                </ion-nav-view>
                            </div>
                            <div class="display_block">
                                <div class="row">
                                    <div class="d_block_img">
                                        <ng-pintura ngp-src="hc.selectedImg.src" ngp-scaling="hc.selectedImg.scaling" ngp-position="hc.selectedImg.position" ngp-max-scaling="hc.selectedImg.maxScaling" ngp-scale-step="hc.selectedImg.scaleStep" ngp-move-step="hc.selectedImg.moveStep" ngp-mw-scale-step="hc.selectedImg.mwScaleStep" ngp-fit-onload="hc.selectedImg.fitOnload" ngp-progress="hc.selectedImg.progress">
                                            <div id="zoomslider">
                                                <input ng-model="slider.value" ng-change="sliderChange()" orient="vertical" type="range" min="0" max="100" step="1" ng-disabled="scalingDisabled" /> </div>
                                            <button id="zoomin" ng-click="zoomIn()" ng-disabled="scalingDisabled" class="btn btn-default"><span class="ion-ios-plus-empty"></span></button>
                                            <button id="zoomout" ng-click="zoomOut()" ng-disabled="scalingDisabled" class="btn btn-default"><span class="ion-ios-minus-empty"></span></button>
                                            <button id="moveup" ng-click="moveUp()" class="btn btn-default"><span class="ion-ios-arrow-up"></span></button>
                                            <button id="movedown" ng-click="moveDown()" class="btn btn-default"><span class="ion-ios-arrow-down"></span></button>
                                            <button id="moveleft" ng-click="moveLeft()" class="btn btn-default"><span class="ion-ios-arrow-left"></span></button>
                                            <button id="moveright" ng-click="moveRight()" class="btn btn-default"><span class="ion-ios-arrow-right"></span></button>
                                            <button id="movecenter" ng-click="fitInView()" class="btn btn-default"><span class="ion-qr-scanner"></span></button>
                                        </ng-pintura>
                                    </div>
                                    <div class="d_thumb_img">
                                        <ion-scroll direction="y"> <img ng-repeat="image in hc.selectedRequest.files" ng-src="http://192.168.31.195:1337/files/download/{{image.id}}/" ng-click="hc.showImage($index)" class="image-list-thumb" style="max-width: 100%" /> </ion-scroll>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-side-menu-content>
                </div>
            </ion-content>
        </ion-tab>
        <!-- Cheque tab start here -->
        <!-- Cash tab start here -->
        <ion-tab title="Cash" icon-on="ion-social-usd" icon-off="ion-social-usd-outline"> </ion-tab>
        <!-- Cash tab start here -->
    </ion-tabs>
</ion-view>
