<div class="bar bar-header bar-dark">

    <div class="button-bar row">
        <a class="button button-energized button-small col-10">Pending</a>
        <a class="button button-assertive button-small col-10">Rejected</a>
        <a class="button button-balanced button-small col-10">Approved</a>
    </div>

    <h1 class="title">Approver Panel</h1>
</div>

<ion-side-menus>
    <!-- Left menu -->
    <ion-side-menu side="left" expose-aside-when="large">
        <ion-content>
            <br>
            <br>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>
            <hr/>

            <ul class="list">

                <li class="item" ng-repeat="request in hc.requests">
                    <a ng-click="hc.selectRequest(request)" ng-class="{'selected' : request === gc.selectedRequest }">

                        <h2>{{request.data.id || request.requestId}}</h2>
                        <h3>{{request.data.doctype}}</h3>
                        <p>{{request.data.customer}}</p>

                    </a>

                </li>

            </ul>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu-content>
        <div class="row" style="justify-content: space-around;">

            <div class="col col-40">
                <br>
                <br>
                <ion-nav-view style="width: 40%; height: 80vh;" name="form_view"></ion-nav-view>
                <div style="margin-top: 85vh">
                    <div class="button-bar row" ng-show="hc.selectedRequest">
                        <a class="button button-balanced button-small">Accept</a>
                        <a class="button button-assertive button-small">Remove</a>
                        <a class="button button-energized button-small">Reset</a>
                    </div>
                </div>
            </div>

            <div class="col col-50">
                <br>
                <br>
                <div class="row">

                    <div class="col col-80">
                        <ng-pintura ngp-src="hc.selectedImg.src" ngp-scaling="hc.selectedImg.scaling" ngp-position="hc.selectedImg.position" ngp-max-scaling="hc.selectedImg.maxScaling" ngp-scale-step="hc.selectedImg.scaleStep" ngp-move-step="hc.selectedImg.moveStep" ngp-mw-scale-step="hc.selectedImg.mwScaleStep" ngp-fit-onload="hc.selectedImg.fitOnload" ngp-progress="hc.selectedImg.progress">
                            <div id="zoomslider">
                                <input ng-model="slider.value" ng-change="sliderChange()" orient="vertical" type="range" min="0" max="100" step="1" ng-disabled="scalingDisabled" />
                            </div>
                            <button id="zoomin" ng-click="zoomIn()" ng-disabled="scalingDisabled" class="btn btn-default"><span class="ion-ios-plus-empty"></span></button>
                            <button id="zoomout" ng-click="zoomOut()" ng-disabled="scalingDisabled" class="btn btn-default"><span class="ion-ios-minus-empty"></span></button>
                            <button id="moveup" ng-click="moveUp()" class="btn btn-default"><span class="ion-ios-arrow-up"></span></button>
                            <button id="movedown" ng-click="moveDown()" class="btn btn-default"><span class="ion-ios-arrow-down"></span></button>
                            <button id="moveleft" ng-click="moveLeft()" class="btn btn-default"><span class="ion-ios-arrow-left"></span></button>
                            <button id="moveright" ng-click="moveRight()" class="btn btn-default"><span class="ion-ios-arrow-right"></span></button>
                            <button id="movecenter" ng-click="fitInView()" class="btn btn-default"><span class="ion-qr-scanner"></span></button>
                        </ng-pintura>
                    </div>
                    <div class="col col-20">
                        <ion-scroll direction="y">
                            <img ng-repeat="image in hc.selectedRequest.files" ng-src="http://192.168.31.124:1337/file/download/{{image.fileId}}/" ng-click="hc.showImage($index)" class="image-list-thumb" style="max-width: 100%" />
                        </ion-scroll>
                    </div>

                </div>

            </div>
        </div>

    </ion-side-menu-content>

</ion-side-menus>
