<ion-view class="approver_app">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Approver Panel</h1>
    </div>
    <ion-tabs class="tabs-icon-top tabs-top">
        <!-- Documents tab start here -->
        <ion-tab title="Documents" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline" ui-sref="approve.invoice.queue">
            <ion-nav-view name='form_view'>
            </ion-nav-view>
        </ion-tab>

        <!-- Documents tab end here -->
        <!-- Cheque tab start here -->
        <ion-tab title="Cheque" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
            <div class="cheque_items">
                <div class="left_sidebar">
                    <div class="list">
                        <div class="item">Item 1</div>
                        <div class="item">Item 2</div>
                        <div class="item">Item 3</div>
                    </div>
                </div>
                <div class="right_sidebar">
                    <div class="list">
                        <div class="item content_detail">
                            <div class="content_dtl">
                                <div>Item 1</div>
                                <div>Item 1</div>
                                <div>Item 2</div>
                                <div>Item 3</div>
                            </div>
                        </div>
                        <div class="item display_block">
                            <div class="display_detail">
                                <div class="item cheque_img"><img src="img\cheque.jpg" alt="cheque"></div>
                                <div class="item payslip_img"><img src="img\payslip.jpg" alt="payslip"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-tab>
        <!-- Cheque tab start here -->
        <!-- Cash tab start here -->
        <ion-tab title="Cash" icon-on="ion-social-usd" icon-off="ion-social-usd-outline">
            <div class="list">
                <div class="item">Item 1</div>
                <div class="item">Item 2</div>
                <div class="item">Cash</div>
            </div>

        </ion-tab>
        <!-- Cash tab start here -->
    </ion-tabs>
</ion-view>
