<div class="cheque_items">
    <div class="left_sidebar">
        <div class="list cheque_detail" ng-repeat="cheque in cheques" ng-click="cq.selectRequest(cheque);cq.getMetedata(cheque);">
            <ion-item>
                <label>Check date</label>:
                <p>{{cheque.createdAt | date}}</p>
            </ion-item>
            <ion-item>
                <label>Amount</label>:
                <p>{{cheque.amount}}</p>
            </ion-item>
            <ion-item>
                <label>Customer Name</label>:
                <p>{{cheque.customerAccount}}</p>
            </ion-item>
            <ion-item>
                <label>Check date</label>:
                <p>{{cheque.createdAt|date}}</p>
            </ion-item>

        </div>
    </div>
    <div class="right_sidebar">
        <div class="list">
            <div class="item content_detail">
                <div class="content_dtl cheque_edit_dtl">
                    <h3>Cheque Detail</h3> {{selectedCheque}}
                    <ion-list>
                        <ion-item>
                            <label>Posting Date</label>
                            <datepicker button-prev-title="previous month">
                                <input ng-model="date" />
                            </datepicker>

                        </ion-item>
                        <ion-item>
                            <label>Cheque Date</label>
                            <md-datepicker ng-model="selectedCheque.chequeDate " md-placeholder="Enter cheque date "></md-datepicker>
                        </ion-item>
                        <ion-item>
                            <label>Company Name</label>
                            <input ng-model="selectedCheque.customerAccount " type="text ">
                        </ion-item>
                        <ion-item>
                            <label>Customer Account</label>
                            <input type="text " placeholder="Customer Name " ng-model="selectedCheque.customerAccount ">
                        </ion-item>
                        <ion-item>
                            <label>Amount</label>
                            <input type="text " placeholder="Amount " ng-model="selectedCheque.amount ">
                        </ion-item>
                        <ion-item>
                            <label>Cheque Number</label>
                            <input type="text " ng-model="selectedCheque.chequeNumber" placeholder="Cheque Number ">
                        </ion-item>
                        <ion-item>
                            <label>Cheque Bank Name</label>
                            <input type="text " placeholder="Bank " ng-model="selectedCheque.bankOfCheque">
                        </ion-item>
                    </ion-list>

                    <div class="pay_slip_detail ">
                        <h3>Pay Slip Detail</h3>
                        <ion-item>
                            <label>Bank account</label>
                            <input type="text " placeholder="Bank Account " ng-model="selectedCheque.PayInSlip.bankAccount">
                        </ion-item>
                        <ion-item>
                            <label>Cheque Date</label>
                            <md-datepicker ng-model="selectedCheque.PayInSlip.date" md-placeholder="Date "></md-datepicker>
                        </ion-item>
                    </div>
                    <div class="buttons ">
                        <div class="button-bar row ">
                            <a class="button red_btn ">Submit</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item display_block cheque_imges ">
                <div class="display_detail ">
                    <div class="d_block_img ">
                        <ng-pintura ngp-src="selectedCheque.fd.src" ngp-scaling="selectedCheque.fd.scaling" ngp-position="selectedCheque.fd.position" ngp-max-scaling="hc.selectedImg.maxScaling" ngp-scale-step="selectedCheque.fd.scaleStep" ngp-move-step="selectedCheque.fd.moveStep" ngp-mw-scale-step="selectedCheque.fd.mwScaleStep" ngp-fit-onload="selectedCheque.fd.fitOnload" ngp-progress="selectedCheque.fd.progress">
                            <div id="zoomslider2">
                                <input ng-model="slider.value" ng-change="sliderChange()" orient="vertical" type="range" min="0" max="100" step="1" ng-disabled="scalingDisabled" /> </div>
                            <button id="zoomin" ng-click="zoomIn()" ng-disabled="scalingDisabled" class="btn btn-default"><span class="ion-ios-plus-empty"></span></button>
                            <button id="zoomout" ng-click="zoomOut()" ng-disabled="scalingDisabled" class="btn btn-default"><span class="ion-ios-minus-empty"></span></button>
                            <button id="moveup" ng-click="moveUp()" class="btn btn-default"><span class="ion-ios-arrow-up"></span></button>
                            <button id="movedown" ng-click="moveDown()" class="btn btn-default"><span class="ion-ios-arrow-down"></span></button>
                            <button id="moveleft" ng-click="moveLeft()" class="btn btn-default"><span class="ion-ios-arrow-left"></span></button>
                            <button id="moveright" ng-click="moveRight()" class="btn btn-default"><span class="ion-ios-arrow-right"></span></button>
                            <button id="movecenter" ng-click="fitInView()" class="btn btn-default"><span class="ion-qr-scanner"></span></button>
                        </ng-pintura>
                    </div>
                    <div class="d_block_img ">
                        <ng-pintura ngp-src="selectedCheque.fd.src" ngp-scaling="selectedCheque.fd.scaling" ngp-position="selectedCheque.fd.position" ngp-max-scaling="hc.selectedImg.maxScaling" ngp-scale-step="selectedCheque.fd.scaleStep" ngp-move-step="selectedCheque.fd.moveStep" ngp-mw-scale-step="selectedCheque.fd.mwScaleStep" ngp-fit-onload="selectedCheque.fd.fitOnload" ngp-progress="selectedCheque.fd.progress">
                            <div id="zoomslider1">
                                <input ng-model="slider.value" ng-change="sliderChange()" orient="vertical" type="range" min="0" max="100" step="1" ng-disabled="scalingDisabled" /> </div>
                            <button id="zoomin" ng-click="zoomIn()" ng-disabled="scalingDisabled" class="btn btn-default"><span class="ion-ios-plus-empty"></span></button>
                            <button id="zoomout" ng-click="zoomOut()" ng-disabled="scalingDisabled" class="btn btn-default"><span class="ion-ios-minus-empty"></span></button>
                            <button id="moveup" ng-click="moveUp()" class="btn btn-default"><span class="ion-ios-arrow-up"></span></button>
                            <button id="movedown" ng-click="moveDown()" class="btn btn-default"><span class="ion-ios-arrow-down"></span></button>
                            <button id="moveleft" ng-click="moveLeft()" class="btn btn-default"><span class="ion-ios-arrow-left"></span></button>
                            <button id="moveright" ng-click="moveRight()" class="btn btn-default"><span class="ion-ios-arrow-right"></span></button>
                            <button id="movecenter" ng-click="fitInView()" class="btn btn-default"><span class="ion-qr-scanner"></span></button>
                        </ng-pintura>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
