<div class="cheque_items">
    <div class="left_sidebar">
        <div class="list cheque_detail" ng-repeat="cheque in cheques" ng-click="cq.selectRequest(cheque)">
            <ion-item>
                <label>Check date</label>:
                <p>{{cheque.createdAt | date}}</p>
            </ion-item>
            <ion-item>
                <label>Amount</label>:
                <p>{{cheque.amount}}</p>
            </ion-item>
            <ion-item>
                <label>Customer Name</label>:
                <p>{{cheque.customerAccount}}</p>
            </ion-item>
            <ion-item>
                <label>Check date</label>:
                <p>{{cheque.createdAt|date}}</p>
            </ion-item>

        </div>
    </div>
    <div class="right_sidebar">
        <div class="list">
            <div class="item content_detail">
                <div class="content_dtl cheque_edit_dtl">
                    <h3>Cheque Detail</h3>
                    <ion-list>
                        <ion-item>
                            <label>Posting Date</label>
                            <datepicker button-prev-title="previous month">
                                <input ng-model="date" />
                            </datepicker>
                        </ion-item>
                        <ion-item>
                            <label>Cheque Date</label>
                            <md-datepicker ng-model="selectedCheque.chequeDate " md-placeholder="Enter cheque date "></md-datepicker>
                        </ion-item>
                        <ion-item>
                            <label>Company Name</label>
                            <input ng-model="selectedCheque.customerAccount " type="text ">
                        </ion-item>
                        <ion-item>
                            <label>Customer Account</label>
                            <input type="text " placeholder="Customer Name " ng-model="selectedCheque.customerAccount ">
                        </ion-item>
                        <ion-item>
                            <label>Amount</label>
                            <input type="text " placeholder="Amount " ng-model="selectedCheque.amount ">
                        </ion-item>
                        <ion-item>
                            <label>Cheque Number</label>
                            <input type="text " ng-model="selectedCheque.chequeNumber" placeholder="Cheque Number ">
                        </ion-item>
                        <ion-item>
                            <label>Cheque Bank Name</label>
                            <input type="text " placeholder="Bank " ng-model="selectedCheque.bankOfCheque">
                        </ion-item>
                    </ion-list>

                    <div class="pay_slip_detail ">
                        <h3>Pay Slip Detail</h3>
                        <ion-item>
                            <label>Bank account</label>
                            <input type="text " placeholder="Bank Account " ng-model="selectedCheque.PayInSlip.bankAccount">
                        </ion-item>
                        <ion-item>
                            <label>Cheque Date</label>
                            <md-datepicker ng-model="selectedCheque.PayInSlip.date" md-placeholder="Date "></md-datepicker>
                        </ion-item>
                    </div>
                    <div class="buttons ">
                        <div class="button-bar row ">
                            <a class="button red_btn ">Submit</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item display_block cheque_imges ">
                <div class="display_detail ">

                    <div class="d_block_img ">
                        <!--
    <ng-pintura ngp-src="cq.chequeImg.src" ngp-scaling="cq.chequeImg.scaling" ngp-position="cq.chequeImg.position" ngp-max-scaling="cq.chequeImg.maxScaling" ngp-scale-step="cq.chequeImg.scaleStep" ngp-move-step="cq.chequeImg.moveStep" ngp-mw-scale-step="cq.chequeImg.mwScaleStep" ngp-fit-onload="hc.chequeImg.fitOnload" ngp-progress="hc.chequeImg.progress">
        <div class="zoomslider">
            <input ng-model="slider.value" ng-change="sliderChange()" orient="vertical" type="range" min="0" max="100" step="1" ng-disabled="scalingDisabled" />
        </div>
        <button ng-click="zoomIn()" ng-disabled="scalingDisabled" class="btn btn-default zoomin"><span class="ion-ios-plus-empty"></span></button>
        <button ng-click="zoomOut()" ng-disabled="scalingDisabled" class="btn btn-default zoomout"><span class="ion-ios-minus-empty"></span></button>
        <button ng-click="moveUp()" class="btn btn-default moveup"><span class="ion-ios-arrow-up"></span></button>
        <button ng-click="moveDown()" class="btn btn-default movedown"><span class="ion-ios-arrow-down"></span></button>
        <button ng-click="moveLeft()" class="btn btn-default moveleft"><span class="ion-ios-arrow-left"></span></button>
        <button ng-click="moveRight()" class="btn btn-default moveright"><span class="ion-ios-arrow-right"></span></button>
        <button ng-click="fitInView()" class="btn btn-default movecenter"><span class="ion-qr-scanner"></span></button>
    </ng-pintura>

-->

                        <img style="max-height :100px;" ng-src="{{cq.chequeImg.src}}" />
                    </div>




                    <div class="d_block_img ">
                        <!--       [{url: 'img/payslip.jpg'}, {url: 'img/cheque.jpg'}]                cq.selectedImg.src-->
                        <ng-pintura ngp-src="cq.selectedImg.src" ngp-scaling="cq.selectedImg.scaling" ngp-position="cq.selectedImg.position" ngp-max-scaling="cq.selectedImg.maxScaling" ngp-scale-step="cq.selectedImg.scaleStep" ngp-move-step="cq.selectedImg.moveStep" ngp-mw-scale-step="cq.selectedImg.mwScaleStep">
                            <div class="zoomslider">
                                <input ng-model="slider.value" ng-change="sliderChange()" orient="vertical" type="range" min="0" max="100" step="1" ng-disabled="scalingDisabled" />
                            </div>
                            <button ng-click="zoomIn()" ng-disabled="scalingDisabled" class="btn btn-default zoomin"><span class="ion-ios-plus-empty"></span></button>
                            <button ng-click="zoomOut()" ng-disabled="scalingDisabled" class="btn btn-default zoomout"><span class="ion-ios-minus-empty"></span></button>
                            <button ng-click="moveUp()" class="btn btn-default moveup"><span class="ion-ios-arrow-up"></span></button>
                            <button ng-click="moveDown()" class="btn btn-default movedown"><span class="ion-ios-arrow-down"></span></button>
                            <button ng-click="moveLeft()" class="btn btn-default moveleft"><span class="ion-ios-arrow-left"></span></button>
                            <button ng-click="moveRight()" class="btn btn-default moveright"><span class="ion-ios-arrow-right"></span></button>
                            <button ng-click="fitInView()" class="btn btn-default movecenter"><span class="ion-qr-scanner"></span></button>
                        </ng-pintura>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
