<div class="ion-items">
    <div class="list col uploader_block" can-swipe="listCanSwipe">
        <div class="drag_files">
            <lf-ng-md-file-input lf-files="files" drag></lf-ng-md-file-input>

        </div>
        <div class="note_fields">
            <p>Consignment date :<span>2015-12-08</span></p>
            <md-progress-linear md-mode="determinate" value="{{duc.determinateValue}}"></md-progress-linear>
        </div>

        <div layout="column" layout-margin="">
        </div>
    </div>
    <div class="list col uploader_block">
        <div class="drag_files">
            <lf-ng-md-file-input lf-files="files" drag></lf-ng-md-file-input>

        </div>
        <div class="note_fields">
            <p>Consignment date :<span>2015-12-08</span></p>
            <md-progress-linear md-mode="determinate" value="{{duc.determinateValue}}"></md-progress-linear>
        </div>

        <div layout="column" layout-margin="">
        </div>
    </div>
    <div class="list col uploader_block">
        <div class="drag_files">
            <lf-ng-md-file-input lf-files="files" drag></lf-ng-md-file-input>

        </div>
        <div class="note_fields">
            <p>Consignment date :<span>2015-12-08</span></p>
            <md-progress-linear md-mode="determinate" value="{{duc.determinateValue}}"></md-progress-linear>
        </div>

        <div layout="column" layout-margin="">
        </div>
    </div>
    <div class="list col uploader_block">
        <div class="drag_files">
            <lf-ng-md-file-input lf-files="files" drag></lf-ng-md-file-input>

        </div>
        <div class="note_fields">
            <p>Consignment date :<span>2015-12-08</span></p>
            <md-progress-linear md-mode="determinate" value="{{duc.determinateValue}}"></md-progress-linear>
        </div>

        <div layout="column" layout-margin="">
        </div>
    </div>
    <div class="list col uploader_block">
        <div class="drag_files">
            <lf-ng-md-file-input lf-files="files" drag></lf-ng-md-file-input>

        </div>
        <div class="note_fields">
            <p>Consignment date :<span>2015-12-08</span></p>
            <md-progress-linear md-mode="determinate" value="{{duc.determinateValue}}"></md-progress-linear>
        </div>

        <div layout="column" layout-margin="">
        </div>
    </div>
    <div class="list col uploader_block">
        <div class="drag_files">
            <lf-ng-md-file-input lf-files="files" drag></lf-ng-md-file-input>

        </div>
        <div class="note_fields">
            <p>Consignment date :<span>2015-12-08</span></p>
            <md-progress-linear md-mode="determinate" value="{{duc.determinateValue}}"></md-progress-linear>
        </div>

        <div layout="column" layout-margin="">
        </div>
    </div>
    <div class="list col uploader_block">
        <div class="drag_files">
            <lf-ng-md-file-input lf-files="files" drag></lf-ng-md-file-input>

        </div>
        <div class="note_fields">
            <p>Consignment date :<span>2015-12-08</span></p>
            <md-progress-linear md-mode="determinate" value="{{duc.determinateValue}}"></md-progress-linear>
        </div>

        <div layout="column" layout-margin="">
        </div>
    </div>
</div>
