<div class="ion-items">
    <div class="list col">
        <div class="drag_files">
            <lf-ng-md-file-input lf-placeholder="Pick Image" lf-remove-label="Delete" multiple drag preview ng-disabled="disabled06"></lf-ng-md-file-input>
        </div>
        <div class="note_fields">
            <p>Consignment date :<span>2015-12-08</span></p>
            <img class="upload_img" src="img\payslip.jpg">
        </div>

        <div layout="column" layout-margin="">
            <md-progress-linear md-mode="determinate" value="{{duc.determinateValue}}"></md-progress-linear>
        </div>
    </div>
</div>
