<ion-list class="bill_status main_wrapper">
    <ion-item>
        <ion-item-content>
            <div class="content_items">
                <div class="ion-items">
                    <div class="fields_wrapper">
                        {{docs}}
                        <!--                        {{metadata}}-->
                        <h3>Bill Detail</h3>
                        <div class="list " ng-init="user_input.id='SCN-05255';">
                            <div class="input_group">
                                <label>search</label>
                                <button value="search" ng-click="searchConsignmentNote(user_input.id)">Search</button>
                            </div>
                            <div class="input_group">
                                <label>Consignment Note no</label>
                                <input type="text" placeholder="customer" ng-model="user_input.id">
                            </div>
                            <div class="input_group">
                                <label> Bill No</label>
                                <input type="text" placeholder="Bill No" ng-model="metadata['Bill Number']">
                            </div>
                            <div class="input_group">
                                <label>Posting Date</label>
                                <p>{{metadata['Bill Date']}}</p>
                            </div>
                            <div class="input_group">
                                <label>Item</label>
                                <p>{{metadata['Bill Item']}}</p>
                            </div>
                            <div class="input_group">
                                <label>Amount</label>
                                <p>{{metadata['Consignment Amount']}}</p>
                            </div>

                            <div class="input_group">
                                <label>Consignment date</label>
                                <p>{{metadata['Consignment Date']}}</p>
                            </div>
                            <div class="input_group">
                                <label>Quantity</label>
                                <p>{{metadata['Bill Quantity']}}</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ion-items">
                    <div class="bill_status">
                        <h3>Bill Status</h3>
                        <div class="list_status">
                            <div class="bill_list ">
                                <h4>Status</h4>
                            </div>
                            <div class="bill_list" ng-repeat="doc in docs">
                                <h5>{{doc.doctype}}</h5>
                                <div class="bill_status">
                                    <i ng-class=" doc.status == '1' ? 'ion-ios-checkmark' : 'ion-ios-close' "></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="ion-items bills_timeline">
                    <div class="bill_status">
                        <h3>Bill Status</h3>
                        <div class="list_status">
                            <div class="bill_list">
                                <div class="container-fluid">
                                    <div class="main_heading">
                                        <h2>Material Bill Timeline</h2>
                                        <p>Updated 4 minutes</p>
                                    </div>
                                    <timeline>
                                        <!-- can also hard-code to side="left" or side="right" -->
                                        <timeline-event ng-repeat="event in events" side="right">
                                            <!-- uses angular-scroll-animate to give it some pop -->
                                            <timeline-badge class="{{event.badgeClass}} timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
                                                <i class="glyphicon {{event.badgeIconClass}}"></i>
                                            </timeline-badge>

                                            <!-- uses angular-scroll-animate to give it some pop -->
                                            <timeline-panel class="{{event.badgeClass}} timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
                                                <timeline-heading>
                                                    <h4>Received by Customer</h4>

                                                    <p ng-if="event.when">
                                                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i>26-2-2016 / 2:25 pm</small>
                                                    </p>

                                                </timeline-heading>
                                            </timeline-panel>

                                        </timeline-event>
                                    </timeline>
                                </div>
                            </div>
                            <div class="bill_list">
                                <div class="container-fluid">
                                    <div class="main_heading">
                                        <h2>Material Bill Timeline</h2>
                                        <p>Updated 4 minutes</p>
                                    </div>
                                    <timeline>
                                        <!-- can also hard-code to side="left" or side="right" -->
                                        <timeline-event ng-repeat="event in events" side="right">
                                            <!-- uses angular-scroll-animate to give it some pop -->
                                            <timeline-badge class="{{event.badgeClass}} timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
                                                <i class="glyphicon {{event.badgeIconClass}}"></i>
                                            </timeline-badge>

                                            <!-- uses angular-scroll-animate to give it some pop -->
                                            <timeline-panel class="{{event.badgeClass}} timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
                                                <timeline-heading>
                                                    <h4>Received by Customer</h4>

                                                    <p ng-if="event.when">
                                                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i>26-2-2016 / 2:25 pm</small>
                                                    </p>

                                                </timeline-heading>
                                            </timeline-panel>

                                        </timeline-event>
                                    </timeline>
                                </div>
                            </div>
                            <div class="bill_list">
                                <div class="container-fluid">
                                    <div class="main_heading">
                                        <h2>Material Bill Timeline</h2>
                                        <p>Updated 4 minutes</p>
                                    </div>
                                    <timeline>
                                        <!-- can also hard-code to side="left" or side="right" -->
                                        <timeline-event ng-repeat="event in events" side="right">
                                            <!-- uses angular-scroll-animate to give it some pop -->
                                            <timeline-badge class="{{event.badgeClass}} timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
                                                <i class="glyphicon {{event.badgeIconClass}}"></i>
                                            </timeline-badge>

                                            <!-- uses angular-scroll-animate to give it some pop -->
                                            <timeline-panel class="{{event.badgeClass}} timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
                                                <timeline-heading>
                                                    <h4>Received by Customer</h4>

                                                    <p ng-if="event.when">
                                                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i>26-2-2016 / 2:25 pm</small>
                                                    </p>

                                                </timeline-heading>
                                            </timeline-panel>

                                        </timeline-event>
                                    </timeline>
                                </div>
                            </div>
                            <div class="bill_list">
                                <div class="container-fluid">
                                    <div class="main_heading">
                                        <h2>Material Bill Timeline</h2>
                                        <p>Updated 4 minutes</p>
                                    </div>
                                    <timeline>
                                        <!-- can also hard-code to side="left" or side="right" -->
                                        <timeline-event ng-repeat="event in events" side="right">
                                            <!-- uses angular-scroll-animate to give it some pop -->
                                            <timeline-badge class="{{event.badgeClass}} timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
                                                <i class="glyphicon {{event.badgeIconClass}}"></i>
                                            </timeline-badge>

                                            <!-- uses angular-scroll-animate to give it some pop -->
                                            <timeline-panel class="{{event.badgeClass}} timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
                                                <timeline-heading>
                                                    <h4>Received by Customer</h4>

                                                    <p ng-if="event.when">
                                                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i>26-2-2016 / 2:25 pm</small>
                                                    </p>

                                                </timeline-heading>
                                            </timeline-panel>

                                        </timeline-event>
                                    </timeline>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </ion-item-content>

    </ion-item>
</ion-list>
